@model PartyInvites.Models.GuestResponse
@{
    Layout = null;
}

<!doctype html>

<html>
    <head>
        <meta name="viewport" content="width:device-width" />
        <title>RSVP Form</title>
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
    </head>
    <body>
        <div>
            <h3 class="bg-primary text-white text-center m-2 p-2">RSVP Form</h3>
            <form asp-action="RsvpForm" method="post" class="m-2">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="Name" class="form-label">Your Name: </label>
                    <input type="text" asp-for="Name" class="form-control input-validation-error"/>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="form-label">Your Email Address: </label>
                    <input type="email" asp-for="Email" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="form-label">Your Phone/Cell Number: </label>
                    <input asp-for="Phone" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="WillAttend" class="form-label">Will you attend?</label>
                    <select asp-for="WillAttend" class="form-control">
                        <option value="">Choose an option</option>
                        <option value="true">Yes, I will attend the party.</option>
                        <option value="false">No, I cannot attend.</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Submit RSVP</button>
            </form>
        </div>
    </body>
</html>